{
  "rules": {
    "property-case": "lower",
    "selector-type-case": "lower",
    "no-unknown-animations":true,
    "indentation": "tab",
    "selector-max-compound-selectors": 3,
    "no-duplicate-selectors": true,
    "shorthand-property-no-redundant-values": true,
    "max-nesting-depth": 2,
    "no-descending-specificity": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "declaration-block-no-duplicate-properties": [
      true,
      {
        "ignore": ["consecutive-duplicates"]
      }
    ],
  }
}
